<% provide(:title, t(:ABOUT_TITLE)) %>

<div class="jumbotron">
  <h2><%= t(:RULES_LIST) %></h2>
  <p>
    <ul class="list-inline">
      <li><a href="https://cdn1.daysofwonder.com/tickettoride/en/img/tt_rules_2015_en.pdf">English</a></li>
      <li><a href="https://cdn1.daysofwonder.com/tickettoride/en/img/tt_rules_2013_de.pdf">German</a></li>
    </ul>
  </p>
</div>
